.column {
    background-color: #f2f2f3;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container {
    display: flex;
    gap: 10px;
}

.input {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #2563eb;
    color: white;
}

.task {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
}

.checkbox {
    height: 20px;
    width: 20px;
}